.cursor {
  display: block;
  position:absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 6px;
  border: 2px solid #000;
  border-radius: 50%;
  z-index: 1000;
  transition: transform 100ms cubic-bezier(.17, .67, .91, .53);
}
