.cursor {
  display: block;
  position:absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgba(232, 232, 232, 0.9);
  z-index: 1000;
  transition: transform 100ms cubic-bezier(.17, .67, .91, .53);
}

@media screen and (max-width: 420px) {
  .cursor {
    display: none;
  }
}