.header__container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.header__container > ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.gallery__item {
  display: flex;
  text-align: center;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: inherit;
}

.gallery__item > * {
  scroll-snap-align: start;
}

.item__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

/* .item__list li {
  padding-bottom: 20px;
} */

.item__list li:last-child {
  padding-bottom: 0px;
}

.item__card {
  display: grid;
  grid-template-rows: min-content;
  height: 100%;
  min-width: 98vw;
}

.item__image {
  height: 100%;
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.about__section {
  margin: 16px;
}
