  :root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 750ms;
    --image-width: calc((100vw / 3) - 55px);
    --sections-padding: calc((100vw - ((var(--image-width) * 3) + 55px)) / 2)
  }

  .header__list {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  .header__link {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    border-bottom: 1px solid white;
  }

  .header__link:hover {
    border-bottom: 1px solid black;
  }

  .header__logo--image {
    height: 30px;
  }

  .header__logo:hover {
    animation: animationLogo 1500ms ease-in-out 0.5s;
  }

  .gallery__section {
    padding: 30px 50px;
    background-color: white;
  }

  .gallery {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 30px;
  }

  .gallery__item {
    display: block;
    width: var(--image-width);
    height: var(--image-width);
    mask-image: linear-gradient (black, white);
    -webkit-mask-image: linear-gradient(black, white);
    /* transition: transform var(--animation-duration) var(--timing-function); */
  }

  .gallery__image--first {
    width: 100vw;
    height: 80vh;
    /* background-image: url(../assets/int-1.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .gallery__image--first video {
    height: 100vw;
  }

  .gallery__link {
    width: var(--image-width);
    height: var(--image-width);
    text-decoration: none;
  }

  .gallery__image {
    display: block;
    object-fit: cover;
    width: var(--image-width);
    height: var(--image-width);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: filter var(--animation-duration) var(--timing-function);
  }

  .gallery__item--description {
    opacity: 0;
    transition: opacity var(--animation-duration) var(--timing-function);
  }

  .gallery__image:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    /* transform: scale(1.1); */
  }

  .about__section {
    margin-top: 70vh;
    padding: 20px var(--sections-padding);
    background-color: white;
    border-top: 1px solid black;
  }

  .blurred-img {
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .blurred-img::before {
    content: "";
    position: absolute;
    filter: blur(1.5rem);
    inset: 0;
    opacity: 0;
    animation: pulse 2.5s infinite;
  }
  
  .blurred-img.loaded::before {
    animation: none;
    content: none;
  }
  
  .blurred-img img {
    opacity: 0;
    /* transition: opacity 250ms ease-in-out; */
  }
  
  .blurred-img.loaded img {
    opacity: 1;
  }
  
  .footer__logo {
    filter: invert(1);
    height: 20px;
  }

  .footer__contacts--mobile {
    display: none;
  }

  @media screen and (max-width: 420px) {
    :root {
      --image-width: calc(100vw - 55px);
    }

    .header__list {
      display: none;
    }

    .gallery__image--first {
      height: 50vh;
    }

    .gallery__section {
      padding: 30px 25px;
    }
    
    .about__section {
      margin-top: 40vh;
      padding: 20px 25px;
      background-color: white;
    }

    .footer__contacts--mobile {
      display: block;
    }

    .footer__list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @keyframes animationLogo {
    0% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(360deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes pulse {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.1;
    }
    100% {
      opacity: 0;
    }
  }
